@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.primary-color{
    color: rgb(31, 41, 55);
}

.bg-primary-color{
    background-color: rgb(31, 41, 55);
}

.logo-color{
    color: rgb(31, 41, 55);
}